@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Public+Sans:wght@200;300;400;500');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {

  /* colors */
  --body-bg-color: #ffffff;
  --sidebar-bg-color: #FF914D;
  --text-color: #343434;
  --text-color-sidebar: #ffffff;
  --title-color: #111111;
  --date-color: #1f94c2;
  
  
  --icon-color:var(--text-color);
  --circle-color: #c9c4c4;
  --circle-color-plain: #ffffffe8;  

  /* bonus */

  /* bae5ff */

  /* Fonts */
  --body-font: "Public Sans", "Sans-serif";
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  /* Helpers */
  --spacing-1: .4rem;
  --spacing-2: .8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
}

body {
  font-family: var(--body-font);  
  font-weight: 200;
  background-color: var(--body-bg-color);
  color: var(--text-color);  
}


.App {
  display: flex;
  flex-direction: row;
  max-height: 100%; /*auteur de l'élément parent est de 100% de la hauteur de l'écran */
}

.Sidebar {
  flex: 0.75;
  background-color: var(--sidebar-bg-color);
  color: var(--text-color-sidebar);
  padding: var(--spacing-2);
  max-height: 100%; /* hauteur minimale de 100% de la hauteur de l'écran */
  
}

.Main {
  flex: 3;
  max-height: 100%; /* hauteur minimale de 100% de la hauteur de l'écran */

}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column; /* Mettre en colonne sur les petits écrans */
  }
  
  .Sidebar {
    min-width: auto; /* Réinitialiser la largeur minimale pour la colonne latérale */
    width: 100%; /* Utiliser toute la largeur sur les petits écrans */
    padding: var(--spacing-2); /* Réduire l'espace intérieur */
  }
  
}




/* Generate PDF */

#cv-print {
  width: 100% !important;
} 
.cv-print ul {
  margin:0;
  padding:0;
  
}

.cv-print .App {
  max-width: 210mm;
}
.cv-print .sidebar {
  height: 297mm;
}
.cv-print .user__infos svg {
  display: none !important;
}
.cv-print .circle {
  width:10px;
  height:10px;
}
